* {
  box-sizing: border-box;
}

.status {
  width: 82px;
  height: 31px;
  line-height: 31px;
  letter-spacing: 0;
  color: #002e3f;
  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: 600;
}
