* {
  box-sizing: border-box;
}

.image {
  outline-width: 4px;
  outline-style: solid;
  outline-color: #002e3f;
  width: 815px;
  height: 499px;
  background-image: url(../image/mgu4kbyc-m4jzlr2.png);
  background-position: -6px -6px;
  background-size: 101.39% 102.13%;
  background-repeat: no-repeat;
}
